In [1]:
import pandas as pd
from src.hy_params import datahyper

In [8]:
dataparams = datahyper()
sub_csv = pd.read_csv(dataparams.DATA_DIR_SUBMISSION)
sub_csv

,ID,Y_01,Y_02,Y_03,Y_04,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
0,TEST_00001,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,TEST_00002,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,TEST_00003,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,TEST_00004,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,TEST_00005,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39603,TEST_39604,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39604,TEST_39605,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39605,TEST_39606,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39606,TEST_39607,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39607,TEST_39608,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
sub_csv.pop('ID')

0        TEST_00001
1        TEST_00002
2        TEST_00003
3        TEST_00004
4        TEST_00005
            ...
39603    TEST_39604
39604    TEST_39605
39605    TEST_39606
39606    TEST_39607
39607    TEST_39608
Name: ID, Length: 39608, dtype: object

In [9]:
t_csv = pd.read_csv('result/sh_at1__train.csv')

In [11]:
for col in t_csv:
    print(t_csv[col].min())
    print(t_csv[col].max())

1.1211992493987082
1.5633776480853556
0.7796353725135328
1.2478333289563657
0.792124744027853
1.2069722170591353
12.290061614346504
14.546187855494022
30.312838381087783
32.30590280320644
16.36665433255434
16.860537438309194
2.987492236161233
3.327381654655934
-26.82842428548932
-26.0706332400322
-26.79213456961512
-26.06820453801155
-23.32461591364145
-21.90993174129725
24.049286925804616
24.607228656160835
-26.793878156459336
-25.999849638164044
-26.757496606481077
-26.0033933130622
-26.707607828718427
-26.011329294502737